{% extends "employee/base.html" %}
{% block content %}
    <a href="{% url 'employees:create' %}" class="d-block my-5 text-decoration-none text-danger">add a new employee</a>
    {% if employees %}
        <ol>
        {% for employee in employees %}
            <li>
                <a href="{% url 'employees:show' employee.id %}" class="text-decoration-none text-dark"> {{ employee.name | capfirst }}</a>  &emsp;
                <!-- <a href="{% url 'employees:destroy' employee.id %}">delete</a> -->
            </li>
        {% endfor %}
        </ol>
    {% endif %}
{% endblock %}