{% extends "employee/base.html" %}
{% block content %}
    <h1 class="alert alert-secondary mb-5">Maximus Limited Employees</h1>
    {% if messages %}
        {% for message in messages %} <h4 class="alert alert-warning text-center text-uppercase"> {{ message }} </h4> {% endfor %}
    {% endif %}
    
    {% if employees %}
    <ol>
        {% for employee in employees %}
        <li class="my-3 d-flex justify-content-between pe-3">
            <span class="h3"> {{forloop.counter}}. &nbsp;  {{ employee.name | capfirst }} </span>
            <a href="{% url 'employees:show' employee.id %}" class="btn btn-primary">details</a>
        </li>
        {% endfor %}
    </ol>
    <a href="{% url 'employees:create' %}" class="d-block my-5 btn btn-danger text-capitalize">add new employee</a>
    {% endif %}
{% endblock %}