{% extends "employee/base.html" %}
{% block content %}
    <h1 class="alert alert-secondary d-flex justify-content-between align-items-center mb-5"> 
       <span> Details For : <i class="fw-bold"> {{ employee.name }} </i> </span> 
        <a href="{% url 'employees:index' %}" class="link link-danger h4 text-decoration-none mt-1 fw-bold">back</a>
    </h1>
    {% if messages %}
        {% for message in messages %} <h4 class="alert alert-warning text-center text-uppercase"> {{ message }} </h4> {% endfor %}
    {% endif %}
    <table class="w-100">
        <tr class="py-2 border border-dark border-3 d-flex justify-content-between px-5 align-items-center alert alert-secondary" >
            <th class="text-uppercase text-center text-success">name</th>
            <td class="text-dark h5"> {{ employee.name }} </td>
            
        </tr>
        <tr class="py-2 border border-dark border-3 d-flex justify-content-between px-5 align-items-center alert alert-secondary" >
            <th class="text-uppercase text-center text-success">employee id</th>
            <td class="text-dark h5"> {{ employee.eid }} </td>
        </tr>
        <tr class="py-2 border border-dark border-3 d-flex justify-content-between px-5 align-items-center alert alert-secondary" >
            <th class="text-uppercase text-center text-success">email</th>
            <td class="text-dark h5"> {{ employee.email }} </td>
        </tr>
        <tr class="py-2 border border-dark border-3 d-flex justify-content-between px-5 align-items-center alert alert-secondary" >
            <th class="text-uppercase text-center text-success">phone</th>
            <td class="text-dark h5"> {{ employee.contact }} </td>
        </tr>
    </table>
    <div class="d-flex justify-content-evenly">
        <a href="{% url 'employees:update' employee.id %}" class="btn btn-danger">Edit</a>
        <!-- Modal Trigger Button -->
        <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete">Delete</button>
    </div>
    <!-- Modal -->
    <div class="modal fade text-dark" id="delete" tabindex="-1" >
        <div class="modal-dialog w-50 mx-auto">
            <div class="modal-content">
                <div class="modal-body alert alert-warning text-center">
                    <h3>Are you sure you want to delete <em class="fw-bold">{{ employee.name }}</em>'s details?</h3>
                    <div class="d-flex justify-content-around mt-5">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <a href="{% url 'employees:destroy' employee.id %}" class="btn btn-danger">Proceed</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}