{% extends "employee/base.html" %}
{% block content %}
    <h1 class="alert alert-secondary d-flex justify-content-between align-items-center mb-5"> 
        <span> Update <i class="fw-bold"> {{ employee.name }}'s </i>  Details </span> 
        <a href="{% url 'employees:show' employee.id %}" class="link link-danger h4 text-decoration-none mt-1 fw-bold">back</a>
    </h1>
    {% for message in messages %} <h4 class="alert alert-warning text-center text-uppercase"> {{ message }} </h4> {% endfor %}
    {% for error in form.errors.values %}
        <div class="alert alert-warning text-center text-decoration-none text-uppercase"> {{ error }} </div>
    {% endfor %}
    <div class="text-center w-100 mx-auto">
        <form action="{% url 'employees:update' employee.id %}" method="POST" class="p-3 rounded bg-secondary">
            {% csrf_token %}
            <div>
                <h2 class="text-light my-5">Update Details</h2>
                <div class="my-5 h4">
                    <p class="text-light"> Name:</p> {{ form.name }}
                </div> 
                <div class="my-5 h4">
                    <p class="text-light">Company Id:</p> {{ form.eid }}
                </div>
                <div class="my-5 h4">
                    <p class="text-light">Email:</p> {{ form.email }}
                </div>
                <div class="my-5 h4">
                    <p class="text-light">Contact:</p> {{ form.contact }}
                </div>
                <div class="my-5">
                    <button type="submit" class="btn btn-danger">Update</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}